/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav {
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.nav-logo img {
  height: 40px;
}

/*inro section*/
#intro {
  /* Creates space between the contents of the intro section and it's border */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;

  /*shorthand property*/
  /*padding: 2rem 10% 3rem */

  text-align: center;
}

.header {
  /*best used when horizonatlly aligning text instead of using margin and padding*/
  text-align: center;

}

#intro h2, #intro p{
  /*Creates space between the contnest of the intro sectiom*/
  margin-bottom: 1rem;  
}

#intro button {
  color: white;
  /*changes the thinckness of text*/
  font-weight: bold;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  /*creates space betw.. the button text and the border*/
  padding: 1rem;
}

/* Style the succeed info section */
#succeed-info {
  padding: 3rem;
}

#succeed-info .header {
  text-align: center;
}

#succeed-info .card {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

#succeed-info .card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#succeed-info .card p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Style the pre-footer section */
#pre-footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #f8f9fa;
}

#pre-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#pre-footer p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
/* Pre-Footer Section Styles */
#pre-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 40px;
  background-color: #000033;
}

#pre-footer h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

#pre-footer h4 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#pre-footer p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin: 10px 0;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: revert-layer;
  align-items: center;
  height: 80px;
  background-color:#f4f4f4;
  color: #333;
}

footer span {
  margin: 0 10px;
}